{% extends "base.html" %}
{% load static %}
{% load math %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/check.css" %}">
    <link rel="stylesheet" href="{% static "fontawesome-5.1.0/css/all.css" %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row" style="height: 100%;">
            <div class="col-md-2 container__check_left">
                <div class="btn-group-vertical menu__check_left">
                    {% for check in checks %}
                        <button type="button" id="{{ check.fiscalDocumentNumber }}"
                                class="btn btn-outline-success btn__check_left">{{ check.dateTime }}</button>
                    {% endfor %}
                    <input type="fn" class="form-control input__fn" placeholder="Enter fn">
                    <input type="fd" class="form-control input__fd" placeholder="Enter fd">
                    <input type="fpd" class="form-control input__fpd" placeholder="Enter fpd">
                    <button class="btn__icon btn__check_add"><i class="fas fa-plus-circle"></i></button>
                </div>

            </div>

            <div class="col-md-10">
                <div class="container">
                    <div class="row cards__check_container">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/check.js" %}"></script>
    <script type="text/javascript" src="{% static "ChartJS/Chart.min.js" %}"></script>
{% endblock %}